body{
	background-color: #eee;
	width: 100%;
	margin: 0 auto;
	color: #fff;
	font-family:'黑体';
}

/***头部***/
.top{
	height: 40px;
	background-color: #5fc0cd;
	margin: 0 auto;
	line-height: 40px;
}
.top h4{
	text-align: center;
	margin: 0 auto;
	font-weight: normal;
}
.top a{
	position: absolute;
	color: #fff;
	text-decoration: none;
}
.top_a1{
	float: left;
	left: 10px;
}
.top_a2{
	float: right;
	right: 10px;
}

/***输入区***/
.imp{
	height: 50px;
	width: 100%;
	background-color: #fff;
	margin:10px 0 10px 0;
	
}
.imp_left{
	width: 60px;
	height: 50px;
	float: left;
}
.imp_right{
	height: 100%;
	overflow: hidden; /*隐藏溢出部分*/

}
.img_ico{
	position: relative;
	width: 14px;
	height: 22px;
	margin: 14px 0 0 23px;
}
.img_line{
	width: 1px;
	height: 30px;
	margin: 10px 0 10px 0;
	float: right;
	position: relative;
}


input{
	height: 100%;
	width: 100%;
	border: 0;
	outline: none;
	font-size: 16px;
	margin-left: 20px; 
}

.button_login{
	height: 50px;
	width: 100%;
	margin: 0 auto;
}

.button_login input{
	margin: 0 auto;
	background-color: #5fc0cd;
	color: #fff;
}

.forget{
	float: right;
	font-size: 13px;
	margin: 10px;
	color: #5fc0cd;
}