html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
    margin:0;
    padding:0;
    font-size: 12px;
}
h1,h2,h3,h4,h5,h6,em,i {font-style:normal;
    font-weight:normal;}
ul,ol,li { list-style-type:none;}
a {text-decoration:none;}

/*顶部*/
.top{
    position: fixed;
    left:0;
    top: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #59c0ce;
    text-align: center;
    color: white;
    z-index: 999;
}
.top a{
    position: absolute;
    left: 10px;
    font-size: 20px;
    color: white;
}
.top h1{
    display: inline-block;
    font-size: 16px;
}

/*展示*/
.banner{
    position: relative;
    margin-top: 38px;
    width: 100%;
    height: 150px;
    background-image: url(../images/bg.png);
    -webkit-background-size: cover;
    background-size: cover;
}

.banner .ban-in{
    position: absolute;
    top: 50%;
    margin-top: -30px;
    left: 10px;
    width: 200px;
    height: 60px;
}
.banner .ban-in>img{
    width: 60px;
    height: 60px;
}
.banner .ban-name{
    position: absolute;
    left: 70px;
    top: 10px;
    font-size: 14px;
}
.banner .ban-name h3{
    display: inline-block;
    margin: 0 5px;
    line-height: 30px;
    font-size: 14px;
}
.banner .ban-name img{
    width: 8px;
    height: 10px;
    margin: 0 5px;
}
.banner .ban-name span{
    margin:0 4px;
}

/*内容*/
.content{

}
.content>div:first-child{
    width: 100%;
    height: 40px;
    /*padding: 12px;*/
    line-height: 40px;
    border-bottom: 1px solid #58c0ce;
    box-sizing: border-box;

}
.content{
    margin-bottom: 40px;
}
.content span{
    position: relative;
    display: inline-block;
    top: 2px;
    height: 12px;
    border-left: 3px solid #58c0ce;
    margin: 0 10px;
}

.content h4{
    display: inline-block;
}
.content dl{
    padding-left: 10px;
}
.content dt{
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #58c0ce;
    line-height: 20px;
}
.content dt img{
    width: 12px;
    height: 12px;
    margin-left: 15px;
}
.content dd{
    position: relative;
    border-bottom: 1px solid #58c0ce;
}
.content .dd-left{
    position: absolute;
    top: 50%;
    margin-top: -10px;
    height: 20px;
    line-height: 20px;
    padding:0 10px;
    border-right: 1px solid #58c0ce;
}
.content .dd-right{
    margin-left: 70px;
    padding: 10px;
    line-height: 20px;
}
.content dl>dd:nth-child(4) p{
    color: red;
}
/*底部*/
.footer{
    position: fixed;
    bottom: 5px;
    width: 100%;
}
.footer a{
    float: left;
    display: inline-block;
    margin:0 1%;
    width: 48%;
    line-height: 40px;
    text-align: center;
    border: 2px solid #58c0ce;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 14px;
    color: #000;
    background-color: white;
}
.footer a:last-child{
    background-color: #58c0ce;
    color: white;
}


