body{
	width: 100%;
	margin: 0;
	padding: 0;
}

/*头部*/
.top{
	width: 100%;
	height: 50px;
	background-color: #5fc0cd;
	position: fixed;
	top: : 0;
	color: #fff;
	margin: 0 auto;
	text-align: center;
	line-height: 50px;
	font-family:'微软雅黑';
	z-index: 999;
	
}

.top a{
	text-decoration: none;
	cursor: pointer;
	font-size: 20px;
	color: #fff;
	position: absolute;
	left: 10px;

}	

.top b{

	position: relative;
	font-size: 16px;
	
}

/*底部*/
.footer_left{
	width: 50%;
	height: 50px;
	position: fixed;
	bottom: 10px;
	left: 0;
	z-index: 999;
}

.footer_right{
	width:50%;
	height: 50px;
	position: fixed;
	bottom: 10px;
	right: 0;
	z-index: 999;
}


.left{
	height: 100%;
	margin: 0 5px 0 10px;
}

.right{
	height: 100%;
	margin: 0 10px 0 5px;
}

button{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	font-size: 16px;
}


.keep{
	border: 2px solid #5fc0cd;
	background-color: #fff;
	color: #5fc0cd;

}

.tel{
	border: 0;
	background-color: #5fc0cd;
	color: #fff;
}

/*头像部分*/
.header{
	width: 100%;
	height: 210px;
	float: left;
	background-image: url(images/bg.png);
	background-size: cover;
	color: #fff;
}

.header_t{
	width: 100%;
	height: 80px;
	position: relative;
	margin-top: 90px;
}

.img_header{
	width: 80px;
	height: 80px;
	position: relative;
	float: left;
	left: 20px;
}
.header_r{
	margin-left: 120px;

	height: 100%;

}
.location{
	width: 10px;
	height: 14px;
	float: left;
}
.name{
	position: relative;
	margin: 0;
	padding-top: 15px;
	font-size: 15px;
}
.name_s{
	margin-left: 10px;
	float: left;
	font-size: 12px;
}
.location{
	float: left;
	margin-top:14px;
}

/*详细信息*/
.bar{
	float: left;
	width: 100%;
	font-size: 12px;
	border-bottom: 1px solid #5fc0cd;
}

.img_bar{
	float: left;
	width: 3px;
	height: 14px;
	margin: 18px 10px 18px 10px;

}

.bar p{
	margin: 0;
	line-height:50px;
}


.box{
	float: left;
	width: 100%;
}

.bar_son{ 
	margin-left: 10px;
	padding-left: 10px;
	font-size: 12px;
	border-bottom: 1px solid #5fc0cd;
	overflow: auto ;
	align-items: center;

}

.food{
	float: left;
	margin-right: 20px;
}

.star{
	position: relative;
	float: left;
	width: 12px;
	height: 12px;
	margin: 19px 10px 0 0;
}
.bar_son p{
	margin: 0;
	float: left;
	line-height: 50px;
}


.star_0{
	float: left;
	width: 1px;
	height: 20px;
	margin: 15px;

}

.p_left{
	color: #aaa;
}

.p_right{
	color: #aaa;
}

.p_money{
	color: red;
}


.bar_center_right{
	height: auto;
	overflow: auto;
	margin-right: 10px;
}
.bar_center_left{

	height: 100%;
	float: left;
	top: 100px;
	bottom: 0;
}
